// Color Variables

$white		: #fff;
$black 		: #000;
$grey		: #232323;
$grey-light	: #dedede;
$grey-dark	: #333;
$orange		: #e17f25;
$blue		: #006496;
$blue-dark 	: darken($blue, 10%);
$yellow 	: #ffdc00;
$yellow-dark: darken($yellow, 10%);
$aqua		: #19F1FF;
$aqua-dark	: darken($aqua, 15%);



// assets paths

$path-font	: '../fonts';

// Font Stack

$sans-serif		: Helvetica, Arial, sans-serif;
$font-bold		: 'Futura-Bold', $sans-serif;
$font-heavy		: 'Futura-Heavy', $sans-serif;
$font-medium	: 'Futura-Medium', $sans-serif;
$font-light		: 'Futura-Light', $sans-serif;