@import 'modular-scale';
@import 'variables';
@import 'mixins';


@include font-face('Futura-Bold', 	'FuturaLTPro-Bold');
@include font-face('Futura-Heavy', 	'FuturaLTPro-Heavy');
@include font-face('Futura-Medium', 'FuturaLTPro-Medium');
@include font-face('Futura-light', 	'FuturaLTPro-light');

html, body, p, a, li {
  font-family: $font-medium;
  @include ms-respond(font-size, 0);
}
@media screen and (min-width: 1200px) {
  p {
    @include ms-respond(font-size, 1);
  }
}
h1, .h1 {
	font-family: $font-bold;
  @include ms-respond(font-size, 16);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3, h4 {
	font-family: $font-heavy;
  margin-bottom: 15px;
}
h5, h6 {
  font-family: $font-medium;
}
strong {
	font-family: $font-heavy;
}
h2, .h2 {
  @include ms-respond(font-size, 12);
  font-family: $font-bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
h3 {
  @include ms-respond(font-size, 10);
}
h4 {
  @include ms-respond(font-size, 8);
}
h5 {
  @include ms-respond(font-size, 7);
}

.font {
	&-bold {font-family: $font-bold !important;}
	&-heavy {font-family: $font-heavy !important;}
	&-medium {font-family: $font-medium !important;}
	&-light {font-family: $font-light !important;}
}
a {
	@include chameleon;
	color: $blue;
	/*&:visited {
    color: $black;
  	}*/
 	 &:hover {
	color: darken($blue, 10%);
  	}
  	&:focus {
	color: darken($blue, 10%);
  	}
}
.color {
	&-yellow {color: $yellow;}
	&-black {color: $black;}
}
.bg {
	&-yellow {background: $yellow;}
	&-black {background: $black;}
}
/*! Pushy - v1.0.0 - 2016-3-1
* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
* https://github.com/christophery/pushy/
* by Christopher Yee */
/* Menu Appearance */
.pushy {
  position: fixed;
  width: 200px;
  height: 100%;
  top: 0;
  z-index: 9999;
  background: #191918;
  overflow: auto;
  visibility: hidden;
  -webkit-overflow-scrolling: touch;
  /* enables momentum scrolling in iOS overflow elements */
}
.pushy a {
  display: block;
  padding: 15px 30px;
  text-decoration: none;
  outline: 0;
}
/*.pushy ul:first-child {
  margin-top: 10px;
}*/
.pushy.pushy-left {
  left: 0;
}
.pushy.pushy-right {
  right: 0;
}

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-right {
  -webkit-transform: translate3d(200px, 0, 0);
  -ms-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0);
}

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-200px, 0, 0);
  -ms-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* Menu Transitions */
#container,
.pushy,
.push {
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

/* Site Overlay */
.site-overlay {
  display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Icon */
}
.pushy-submenu ul {
  padding-left: 15px;
  transition: max-height 0.2s ease-in-out;
}
.pushy-submenu ul .pushy-link {
  transition: opacity 0.2s ease-in-out;
}
.pushy-submenu > a {
  position: relative;
}
.pushy-submenu > a::after {
  content: '';
  display: block;
  height: 11px;
  width: 8px;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: transform 0.2s;
}

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
}
.pushy-submenu-closed .pushy-link {
  opacity: 0;
}

.pushy-submenu-open {
  /* Submenu Icon */
}
.pushy-submenu-open ul {
  max-height: 1000px;
}
.pushy-submenu-open .pushy-link {
  opacity: 1;
}
.pushy-submenu-open a::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
}

.no-csstransforms3d .pushy-submenu-closed ul {
  max-height: none;
  display: none;
}
/* **** end Pushy **** */



.btn-yellow-cta,.btn-login-cta {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: $font-heavy;
	border-radius: 0;
	letter-spacing: .5px;
	@include chameleon;
	@include ms-respond(font-size, 1);	
}
.btn-yellow-cta {
	background: $yellow;
	color: $black;
	border: 2px solid $black;
}
.btn-yellow-cta:hover,.btn-yellow-cta:focus {
	background: $black;
	border: 2px solid $yellow;
	color: $yellow;
}
.btn-login-cta {
	border: 2px solid $yellow;
	color: $yellow;
}
.btn-login-cta:hover,.btn-login-cta:focus {
	color: $black;
	border: 2px solid $black;
	background: $yellow;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .btn-yellow-cta {
    padding: 1rem .5rem;
  }
}
.rotate {
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
#nav-desktop-cta {
margin-bottom: 1rem;
}
#nav-desktop-cta a {
width: 100%;
}



#nav-mobile-header {
padding-top: 1rem;
padding-bottom: 1rem;
}
#nav-mobile-header img.logo {
  height: 50px;
}
@media screen and (min-width:1200px) {
  nav#nav-desktop-main-menu>ul>li {
   width: 19%;
   text-align: center;
  }
}

nav#nav-desktop-main-menu>ul>li>a {
color: #fff;
padding: .5rem;
display: block;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  nav#nav-desktop-main-menu>ul>li>a {
    padding: .3rem;
  }
}
.nav-inline .nav-item+.nav-item, .nav-inline .nav-link+.nav-link {
  margin-left: 0;
}
#nav-desktop-main-menu>ul>li>a:hover,#nav-desktop-main-menu>ul>li>a:focus {
background: $yellow;
color: $black;
}
#nav-desktop-main-menu .dropdown li {
text-transform: none;
}
#nav-wrapper {
background: $black;
}
#nav-desktop {
padding-top: 1rem;
/*padding-bottom: 15px;*/
}
.dropdown:hover .dropdown-menu {
/*display: block;*/
}
#nav-desktop-main-menu .dropdown-menu {
  box-shadow: inset 2px 2px 2px rgba(0,0,0,0.5);
  background: rgba(0,0,0,.85);
  border-radius: 0;
  margin-top: 0;
  width: 220px;/* because position:absolute */
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  #nav-desktop-main-menu .dropdown-menu {
    width: 200%;
  }
}
#nav-desktop-main-menu .dropdown-menu a {
  color: $white;
  line-height: 2;
  padding: 1rem;
  display: block;

  &:hover {
    background: $black;
  }
  &:focus {
    background: $black;
  }
}
/*#nav-desktop-main-menu .dropdown-menu li:hover {
  background: $black;
}*/


#mobile-cta {
background: $yellow;
}
#mobile-cta div {
border-right: 1px solid $black;
}
#mobile-cta div:last-child {
border-right:0;
} 
#mobile-cta a {
color: $black;
padding: 1rem 0;
display: block;
font-size: 18px;
}
#nav-mobile button i {
padding: 12px;
color: #fff;
font-size: 28px;
background: rgba(60,60,60,0.5);
border-radius: 15px;
}

#nav-mobile button {
background: $black;
border: 0; 
}
#nav-off-canvas {
padding: .8rem;
}
#mobile-off-canvas-social {
	margin-left: 0;
}
#mobile-off-canvas-social li {
  display: inline-block;
}
#nav-off-canvas #mobile-off-canvas-social a {
	padding: 20px;
	color: $aqua;
  font-size: 2em;
}
#mobile-off-canvas-social i {
	/*font-size: 22px;*/
}
.btn-off-canvas-cta {
display: block;
background: $yellow;
border-radius:0;
color: $black;
margin-bottom: 10px;
text-transform: uppercase;
@include ms-respond(font-size, 3);
}
.pushy-submenu a {
	color: $white;
	/*font-size: 16px;*/
  @include ms-respond(font-size, 3);
}
.pushy-link a {
	color: $yellow;
}
.pushy a.btn-off-canvas-cta {
  padding: 10px 30px;
}
#footer-wrapper {
background: #dedede;
padding-top: 15px;
padding-bottom: 15px;
}
#nav-off-canvas i {
	/*margin-left: 10px;*/
}





#footer-logos {
  background: $black;
  padding-top: 30px;
  padding-bottom: 30px;

  .address {
    color: $white;

    address {
    @include ms-respond(line-height, 10);
    }
    address.visible-xs-block {
      margin-bottom: 0;
    }

  }



}

#footer-links  {
  background: $grey;
  padding-top: 30px;
  

  ul.list-unstyled {
    text-transform: uppercase;
    font-family: $font-light;
    margin-bottom: 30px;
    
    li {
      margin-bottom: 10px;
    }

    a {
    color: $white;
    @include ms-respond(font-size, -2);

      &:hover {
        color: $grey-light;
      }
      &:focus {
        color: $grey-light;
      }
    }
  }


  ul.social {
    /*text-align: center;*/
    margin-bottom: 30px;

    a {
      color: $aqua;
      &:focus {
        color: $aqua-dark;
      }
      &:hover {
        color: $aqua-dark;
      }
    }
    i {
      @include ms-respond(font-size, 5);
      padding: 10px 5px;
    }
  }

  
  p {
    color: $white;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

  }
}


#footer-links #footer-mobile-nav {
  text-align: center;

  >ul>li>a {
    display: block;
    @include ms-respond(font-size, 4);
    line-height: 2;
    font-family: $font-heavy;
    letter-spacing: 1px;
    padding: 5px 0;
    &:focus {
      color: $aqua;
    }
    &.color-yellow {
      color: $yellow;
    }

  }
  
  ul.dropfloor {
    margin-top: 10px;
    text-transform: none;

    >li>a {
      @include ms-respond(font-size, 4);
      line-height: 2;
      color: $yellow;
    }
  }

  #footer-mobile-nav-ul .social {
    margin-top: 30px;
  }

  #footer-mobile-nav-ul .social a {
    padding: 15px;
  }

  #footer-mobile-nav-ul>li.panel {
    background-color: transparent;
    border:0;
    box-shadow: none;
  }

}


@media screen and (max-width: 767px) {

  /*#footer-logos .address address {
    margin-top: 20px;
    text-align: center;

  }*/
  #footer-logos .col-xs-12 {
    margin-bottom: 20px;
    text-align: center;
  }


}

#page-wrapper {
  background: $grey-light;
}
#page-wrapper>.container {
  background: $white;
}

